<form class="orders">
    <div class="container">
        <div class="form_styles">
            <label for="email">Cliente</label>
            <input type="text" placeholder="Ingresa un nombre" required/>
        </div>
        <div class="form_styles">
            <label for="email">Pedido</label>
            <hr>
            <div class="grid">
                <p>Cantidad</p>
                <p>Producto</p>
                <p>Costo</p>
            </div>
            <!-- <hr> -->
            <!-- aqui se trae el componente de la plantilla del producto -->
            <div *ngFor="let product of products">
                <div class="prueba">
                    <div>
                        {{product.name}}
                    </div>
                    <div>
                        ${{product.price}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>