<form class="orders">
    <div class="container">
        <div class="form_styles">
            <label for="email">Cliente</label>
            <input type="text" placeholder="Ingresa un nombre" required/>
        </div>
        <div class="form_styles">
            <label for="email">Pedido</label>
            <hr>
            <div class="grid">
                <p>Cantidad</p>
                <p>Producto</p>
                <p>Costo</p>
                {{prueba}}
            </div>
            <hr>
            <ul>
                <li class="text" *ngFor="let item of items | async">
                     {{item.producto}}
                 </li>
             </ul>
         </div>
    </div>
</form>
