
<!-- <div *ngIf="home.children.length === 0"> -->
  <div class="container">
        
        <div id='up'><div id='upimg'><img src="assets/img/bqlogo.svg" width="100%" height="100%" ></div></div>
        <div id='down'>
        <div> <button [routerLink]="['/mesas']">
          Mesa
        </button>
        </div>
        <div> <button [routerLink]="['/cocina']">
          Cocina
        </button> </div>
     
        </div>
  </div>
<!-- </div> -->
  <!-- <router-outlet></router-outlet>
   -->